

<div class="content" role="main">
  <!-- Highlight cardt -->
  <mat-card class="example-card p-2 text-center">
    <mat-card-title>Manual de electricistas - Test en linea</mat-card-title>
    <h2 class="m-0">Universidad de sonsonate</h2>
    <div class="text-center">
      <img
      width="72"
      src="assets\images\universidad.png"
      />
    </div>

    <h3>Prueba de aprendizaje del manual de electricistas de tercera y cuarta categoria</h3>
</mat-card>
  <!-- Resources -->

  <div class="cardt-container">
    <a class="cardt" routerLink="seleccionar">
      <mat-icon class="m-1" style="height: 2rem; width: 2rem; font-size: 2rem;">edit_note</mat-icon>
      <span>Realizar Prueba</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </a>

    <a class="cardt" routerLink="descargas">
      <mat-icon class="m-1" style="height: 2rem; width: 2rem; font-size: 2rem;">picture_as_pdf</mat-icon>
      <span>Descargar Manual</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </a>

    <a class="cardt" routerLink="contenido">
      <mat-icon class="m-1" style="height: 2rem; width: 2rem; font-size: 2rem;">play_circle</mat-icon>
      <span>Contenido Multimedia</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </a>

    <a class="cardt" routerLink="indicaciones">
      <mat-icon class="m-1" style="height: 2rem; width: 2rem; font-size: 2rem;">help</mat-icon>
      <span>Indicaciones</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </a>

    <a class="cardt" routerLink="acercade">
      <mat-icon class="m-1" style="height: 2rem; width: 2rem; font-size: 2rem;">info</mat-icon>
      <span>Acerca de</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </a>
  </div>
</div>