<div class="content" role="main">

    <div class="container col-12 bg-light py-5 rounded-3">
        <h1 class="display-5 fw-bold">Bienvenido a nuestra aplicación para prepararte como electricista</h1>
    
        <p class="lead">Esta plataforma te ofrece herramientas útiles para prepararte y adquirir la acreditación de electricista de cuarta y tercera categoría. A continuación, te explicamos lo que puedes hacer:</p>
    
        <h2 class="fw-bold">Descarga de manuales</h2>
        <p>Te proporcionamos acceso a manuales relevantes para que estudies y te prepares adecuadamente para las pruebas de acreditación. Estos manuales son una herramienta fundamental para familiarizarte con los temas y conceptos necesarios.</p>
    
        <h2 class="fw-bold">Prueba en línea</h2>
        <p>Ofrecemos una prueba en línea que consta de un conjunto de preguntas extraídas directamente de los manuales de estudio. Esta prueba te permite evaluar tus conocimientos y prepararte de manera efectiva para las pruebas oficiales.</p>
        
        <p>Las preguntas están diseñadas con 4 posibles respuestas, de las cuales solo una es correcta. Al responder, recibirás retroalimentación inmediata sobre si tu respuesta fue correcta o incorrecta. Al finalizar la prueba, obtendrás un resumen detallado de tus respuestas, indicando el número total de respuestas correctas e incorrectas.</p>
    
        <p>¡Prepárate con nosotros y avanza en tu carrera como electricista!</p>
    </div>
    
</div>
