<div class="content row justify-content-center" role="main">
  <mat-card class="example-card p-4 mb-2">
    <mat-card-title
      >Mantenimiento de Test de cuarta y tercera categoria</mat-card-title
    >
  </mat-card>

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="m-1" style="height: 2rem; width: 2rem; font-size: 2rem"
          >looks_4</mat-icon
        >
        Cuarta Categoria
      </ng-template>
      <mat-card class="example-card bg-light">
        <mat-card-header>
          <mat-card-title class="m-0 justify-content-center"
            >Actualizar manual de cuarta categoria</mat-card-title
          >
          <mat-card-subtitle
            >Manual 4C actual:
            <a target="_blank" rel="noopener" href="{{ urlActual4c }}">
              ***ABRIR***
            </a></mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content class="col-12 justify-content-between">
          <input
            type="file"
            class="custom-file-input col-8"
            (change)="onFileSelected4c($event)"
          />
          <button
            mat-button
            class="col-3"
            style="background-color: #002333; color: whitesmoke"
            (click)="onUpload4C()"
          >
            <mat-icon>cloud_upload</mat-icon>
            Subir PDF
          </button>
          <button mat-button class="col-1" style="background-color: #CC4344; color: whitesmoke" (click)="onDelete4C()" ><mat-icon>delete</mat-icon></button>
          <div *ngIf="subiendo4c !== null">Subiendo, porfavor espere...</div>
          <mat-progress-bar
            mode="indeterminate"
            *ngIf="subiendo4c !== null"
          ></mat-progress-bar>
        </mat-card-content>
      </mat-card>

      <div class="m-0 mt-2">
        <h2>Preguntas Cuarta Categoria</h2>
        <mat-card-actions class="row justify-content-end p-2">
          <button
            mat-button
            class="col-8 col-md-5"
            style="background-color: #159a9c; color: whitesmoke"
            (click)="open(4)"
          >
            Agregar pregunta
          </button>
        </mat-card-actions>
        <div class="d-flex flex-column vh-100" *ngIf="items$4 | async as items">
          <div class="table-container col-12">
            <table class="table col-12">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Pregunta</th>
                  <th scope="col">Respuestas</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of items$4 | async; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ item.questionText }}</td>
                  <td>
                    <ul class="list-group">
                      <li class="list-group-item">
                        {{ item.options[0].text }}
                      </li>
                      <li class="list-group-item">
                        {{ item.options[1].text }}
                      </li>
                      <li class="list-group-item">
                        {{ item.options[2].text }}
                      </li>
                      <li class="list-group-item">
                        {{ item.options[3].text }}
                      </li>
                    </ul>
                  </td>
                  <td>
                    <button
                      mat-button
                      (click)="editar(item,4)"
                      class="p-1"
                      style="background-color: #002333; color: whitesmoke"
                    >
                      Editar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="m-1" style="height: 2rem; width: 2rem; font-size: 2rem"
          >looks_3</mat-icon
        >
        Tercera Categoria
      </ng-template>
      <mat-card class="example-card mt-2">
        <mat-card-header>
          <mat-card-title class="m-0 justify-content-center">
            Actualizar manual de tercera categoria
          </mat-card-title>
          <mat-card-subtitle
            >Manual 3C actual:
            <a target="_blank" rel="noopener" href="{{ urlActual3c }}">
              ***ABRIR***
            </a></mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content class="col-12 justify-content-between">
          <input
            type="file"
            class="custom-file-input col-8"
            (change)="onFileSelected3c($event)"
          />
          <button mat-button class="col-3" style="background-color: #002333; color: whitesmoke" (click)="onUpload3C()" >
            <mat-icon>cloud_upload</mat-icon>
            Subir PDF
          </button>
          <button mat-button class="col-1" style="background-color: #CC4344; color: whitesmoke" (click)="onDelete3C()" ><mat-icon>delete</mat-icon></button>
          <div *ngIf="subiendo3c !== null">Subiendo, porfavor espere...</div>
          <mat-progress-bar
            mode="indeterminate"
            *ngIf="subiendo3c !== null"
          ></mat-progress-bar>
        </mat-card-content>
      </mat-card>

      <div class="m-0 mt-2">
        <h2>Preguntas Tercera Categoria</h2>
        <mat-card-actions class="row justify-content-end p-2">
          <button
            mat-button
            class="col-8 col-md-5"
            style="background-color: #159a9c; color: whitesmoke"
            (click)="open(3)"
          >
            Agregar pregunta
          </button>
        </mat-card-actions>
        <div class="d-flex flex-column vh-100" *ngIf="items$3 | async as items">
          <div class="table-container col-12">
            <table class="table col-12">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Pregunta</th>
                  <th scope="col">Respuestas</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of items; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ item.questionText }}</td>
                  <td>
                    <ul class="list-group">
                      <li class="list-group-item">
                        {{ item.options[0]?.text }}
                      </li>
                      <li class="list-group-item">
                        {{ item.options[1]?.text }}
                      </li>
                      <li class="list-group-item">
                        {{ item.options[2]?.text }}
                      </li>
                      <li class="list-group-item">
                        {{ item.options[3]?.text }}
                      </li>
                    </ul>
                  </td>
                  <td>
                    <button
                      mat-button
                      (click)="editar(item,3)" 
                      class="p-1"
                      style="background-color: #002333; color: whitesmoke"
                    >
                      Editar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
