<div class="content row justify-content-center" role="main">
  <mat-card class="example-card p-4 mb-2">
    <mat-card-title
      >Mantenimiento de Test de cuarta y tercera categoria</mat-card-title
    >
  </mat-card>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="m-1" style="height: 2rem; width: 2rem; font-size: 2rem">looks_4</mat-icon>
        Preguntas - Cuarta Categoria
      </ng-template>
    <app-mant4c></app-mant4c>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="m-1" style="height: 2rem; width: 2rem; font-size: 2rem">looks_4</mat-icon>
        Contenido - Tercera Categoria
      </ng-template>
      <app-multimed4c></app-multimed4c>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="m-1" style="height: 2rem; width: 2rem; font-size: 2rem">looks_3</mat-icon>
        Preguntas - Tercera Categoria
      </ng-template>
      <app-mant3c></app-mant3c>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="m-1" style="height: 2rem; width: 2rem; font-size: 2rem">looks_3</mat-icon>
        Multimedia - Tercera Categoria
      </ng-template>
      <app-multimed3c></app-multimed3c>
    </mat-tab>
  </mat-tab-group>
</div>
