<div class="content" role="main">

    <div class="container col-12 bg-light py-2 rounded-3">
        <h1 class="display-5 fw-bold">Acerca de</h1>
    
        <p class="lead">Esta aplicación fue desarrollada como un complemento al proyecto de tesis dedicado al desarrollo de un manual de electricidad de cuarta categoría. Nuestro objetivo principal es proporcionar una herramienta adicional para aquellos que buscan obtener su acreditación a través de la formación proporcionada por la Universidad de Sonsonate.</p>
    
        <h2 class="fw-bold">Desarrollado por:</h2>
        <p>Ingeniero Brian Stanley Herrera García</p>
    
        <h2 class="fw-bold">Objetivo:</h2>
        <p>Nuestro propósito es facilitar el proceso de preparación para las pruebas de acreditación de electricistas, ofreciendo acceso a manuales de estudio relevantes y una plataforma de pruebas en línea que simula las condiciones de las pruebas oficiales.</p>
    
        <h2 class="fw-bold">Agradecimientos:</h2>
        <p>Queremos expresar nuestro agradecimiento a la Universidad de Sonsonate por su apoyo y colaboración en este proyecto, así como a todos los profesionales y estudiantes involucrados en la creación y revisión de los materiales de estudio.</p>
    
        <p>¡Esperamos que esta aplicación sea de gran utilidad en tu camino hacia la acreditación como electricista de cuarta categoría!</p>
    </div>
    

</div>